<form [formGroup]="todoForm" class="todos-input-container">
  <input type="text"
         placeholder="What needs to be done?"
         class="todos-input"
         (keydown)="keyPress($event)"
         formControlName="todoName">
  @if(todoListLength$ | async ){
  <label for="check-all" class="option">
    <input type="checkbox" id="check-all" name="check-all" [checked]="(itemsChecked$ | async)" (click)="selectUnselectAll()"/>
    <span class="checkbox check-all"></span>
  </label>
  }
</form>
